#footer>#foot{
    width: 100%;
    height: 80px;
     background-color: black;
     color: white;
    
}
#footer>#foot>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    
}
#footer>#foot>ul>li{
    margin-top: 30px;
    font-size: 13px;
    
}