/* Base navbar styles */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  align-items: center;
  z-index: 10;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Transparent style (when type="transparent") */
.navbar.transparent {
  /* background: rgba(0, 0, 0, 0.132); */
  color: white;
}

/* Solid style (when type="solid") */
.navbar.solid {
  background: black;
  color: white;
 
}

/* Logo styles */
.logo {
  font-size:40px; font-weight:bold; color:white;
  font-family:'Times New Roman', Times, serif;
  margin-left: 30px;
}

/* Menu styles */
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 600;
  font-style:normal;
  font-size: smaller;
}

.navbar ul li:hover{
position: relative;
  display: inline-block; /* keeps underline only under text */
  cursor: pointer;
}
.navbar ul li:hover::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;   /* little below the text */
  width: 0;
  height: 2px;
  background-color: white; /* underline color */
  transition: width 0.3s ease
}
.navbar ul li:hover::after{
  width: 100%;
}
#shop{
    display: flex;
    gap: 25px;
    font-weight: 200;
    margin-left: 170px;
    cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 600;
  font-style:normal;
  font-size: smaller;
}
#shop>#text:hover{
  position: relative;
  display: inline-block; /* keeps underline only under text */
  cursor: pointer;
}
#shop>#text:hover::after{
   content: "";
  position: absolute;
  left: 0;
  bottom: -2px;   /* little below the text */
  width: 0;
  height: 2px;
  background-color: white; /* underline color */
  transition: width 0.3s ease
  

}
#shop>#text:hover::after{
  width: 100%;
}