* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background: black; */
  color: white;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  overflow: hidden; 
}

button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0; 
  background: white;
  z-index: -1; 
  transition: all 0.3s ease; 
}

button:hover::after {
  height: 100%; 
}

button:hover {
  color: black; 
}
