SpaceChild.css                                                                 .image-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.image-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-section .text-content {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 2;
}

.image-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.image-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.image-section button {
  padding: 12px 28px;
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
 /* .image-section button::before{
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: white;     /* fill color */
  /* z-index: -1;
  transition: height 0.4s ease;
  height: 100%;  
} */ 


.image-section button:hover {
  background: white;
  color: black;
}
